<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/CV.css">
<script src="/assec
ts/CV.js"></script>

<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="" /></span>
        <svg version="1.1" viewBox="0 0 350 350">
  
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
    </filter>
  </defs>
  
  
<g filter="url(#goo)" >  
  
  <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>
  
  <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

</g>  
</svg>
      </div>
         <div class="clearfix"></div>
 </div>

     <div class="Ext-link">
      

     </div>   

      <div class="name-wrapper">
        <h1>Israel <br/>kuforiji</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <section class="left-section">
        <div class="left-content">
           <div class="profile">
               <div class="image">
                <img src="/assets/img/images.jpg" alt="">
               </div>
               <h2 class="name">HNG Internship (Zuri - HNGi8)</h2>
               <p class="career"><a href="https://internship.zuri.team/">Meet Zuri Team</a></p>
</div>  
    </section>
      
    
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>Call</li>
      		<li>Mail</li>
      		<li>Home</li>
      	</ul>
        <ul class="list-content ">
        	<li>09010722255</li> <!-- YOUR PHONE NUMBER  -->
        	<li>kuforijiisrael@gmail.com</li> <!-- YOUR EMAIL -->
        	<li>Lagos, Nigeria</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
        <p><span class="bold">About Me:</span> I am a full stack developer with over Six years of working experience. I studied Computer Science at University of Lagos </p>
    </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
      		<li>Twitter</li>
      		<li>Codepen</li>
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href="">@IsraelKuforiji</a></li> <!-- YOUR TWITTER USER  -->
      		<li><a href="">@Poe-izzy</a></li> <!-- YOUR BEHANCE USER  -->
          <li><p class="career"><a href="https://internship.zuri.team/">Meet Zuri Team</a></p></li>
      	</ul>
      </div>
		</div>
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Experience</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">Four Kitchens</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2016 - Present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title">Back End Developer </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Four Kitchens,a distributed web design agency founded in Austin Texas, is expanding its foothold in the nonprofit sector by combining forces with Advomatic.</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">INGIC</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Feb 2014 - June2016</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Freelance, Web Designer / Web Developer</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>is an end to end digital agency, providing a spectrum of services a business might need to get professional image online</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Gomoney</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2012 - Nov 2013</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div> 
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Web Designer </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Offer mobile financial services.</p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
      </div><!--Skill experience-->
      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li class="skill-percentage">HTML / HTML5</li>
        		<li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
        		<li class="skill-percentage">Javascript</li>
        		<li class="skill-percentage">Jquery</li>
        		<li class="skill-percentage">Wordpress</li>
        		<li class="skill-percentage">Photoshop</li>
                <li class="skill-percentage">Nodejs</li>
                <li class="skill-percentage">Mongodb</li>
            
            
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>Engaging in sporting activities such as playing football etc.</p>
        <p>Coding.</p> 
        <p>Interacting with new people</p>
        <p>Watching Interesting TV shows</p>
      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>

<div id="container">
    <form id="contact-form" action="/form" method="post">
      <h3>Get in touch</h3>
      <h4>Fill in the form below, and we'll get back to you within 24 hours</h4>
      
      <div>
        <label>
          <span>Name: (required)</span>
          <input name="name" placeholder="Please enter your name" type="text" tabindex="1" required autofocus>
        </label>
      </div>
      
      <div>
        <label>
          <span>Email: (required)</span>
          <input name="email" 
                  placeholder="Please enter your email address" 
                  type="email" 
                  tabindex="2" 
                  required>
        </label>
      </div>
      
      <div>
        <label>
          <span>Telephone: (required)</span>
          <input name="phone" 
                  placeholder="Please enter your number" 
                  type="text" tabindex="3" 
                  required>
        </label>
      </div>

      
      <div>
        <label>
          <span>Message: (required)</span>
          <textarea name="message" placeholder="Include all the details you can"  type='text' tabindex="5" required></textarea>
        </label>
      </div>
      
      <div>
        <button name="submit" type="submit" id"contact-submit">Send Email</button>
      </div>
    </form>
    </div>    
      
          